@font-face {
	font-family: inter;
	src: url('../assets/fonts/inter/Inter-Regular.ttf');
}

@font-face {
	font-family: ubuntu;
	src: url('../assets/fonts/ubuntu/Ubuntu-Regular.ttf');
}

* {
	font-family: inter;
}

.ubuntu {
	font-family: ubuntu;
}
