.wrap-kelas {
	position: relative;
	padding: 24px;

	.validation-errors {
		p {
			margin: 0px;
		}
	}

	.wrap-img-table {
		position: relative;
		width: 40px;
		height: 40px;
		overflow: hidden;

		.img-table {
			position: absolute;
			clip: rect(0px, 40px, 40px, 0px);
			height: 100%;
		}
	}
}
