.sidebar {
	position: relative;
	overflow: auto;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
	z-index: 999;

	.wrapp-menu {
		padding: 24px;

		.menu-list {
			padding: 12px 24px;

			&:hover {
				background: $c1;
			}
		}

		.active {
			background: $c1;
		}
	}

	&.active {
		width: 0% !important;
		transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
	}
}


@include media-breakpoint-down(md) {
	.sidebar {
		position: absolute;
		width: 50% !important;
	}
}

@include media-breakpoint-down(sm) {
	.sidebar {
		position: absolute;
		width: 80% !important;
	}
}
