.topbar {
	position: relative;
	z-index: 1000;

	.btnMenu {
		padding: 24px 32px;
		border-right: 2px solid $cultured;
	}

	.logo {
		padding: 0px 32px !important;
	}

	.menu {
		padding: 0px 32px;
	}

	.img-profile {
		width: 40px;
		height: 40px;
		clip: auto;

		.img-placed {
			width: auto;
			height: 40px;
			background-position: center;
			background-size: cover;
		}
	}
}

// No media query necessary for xs breakpoint as it's effectively `@media (max-width: 0) { ... }`
@include media-breakpoint-down(sm) {
	.topbar {
		.btnMenu {
			padding: 16px;
			border-right: none;
		}

		.logo {
			display: none;
		}

		.menu {
			padding: 16px;
		}

		.notif,
		.img-profile {
			margin-left: 24px !important;
		}

		.img-profile {
			width: 32px;
			height: 32px;

			.img-placed {
				height: 32px;
			}
		}
	}
}
